//begin box
.box.box_map.box_rounded.js-box
	.box__head.js-box-head
		.box__head-in
			.box__head-text Информация о программе “Религиозная карта”
	.box__content.js-box-content
		.box__about.about
			p.about__title Credites
			p.about__label.about__label_md Дата разработки
			p.about__desc.about__desc_md 01.11.2016 г.
			p.about__label Техническая разработка
			p.about__desc Компания “Kazdream Technologies”
			p.about__label Инженеры по качеству
			p.about__desc Тулебаев Д., Плетюхин Р., Адильбеков А.
			p.about__label.about__label_md Дата разработки
			p.about__desc.about__desc_md 01.11.2016 г.
			p.about__label Техническая разработка
			p.about__desc Компания  “Kazdream Technologies”
			p.about__label Инженеры по качеству
			p.about__desc Тулебаев Д., Плетюхин Р., Адильбеков А.
//end box