extend includes/_layout
block navToggle
	- var headToggle = 'О программе'
block title
	title About
block content
	//begin content
	.content.content_main.js-content
		//begin map-list
		.map-list.map-list_single.map-list_about
			.map-list__item
				.map-list__title
					span.map-list__text-lg Информационно-аналитическая система “Религиозная карта”
				a.map-list__load-link.load-link(href='#')
					+i('load')
					span.load-link__text Скачать руководство пользователя
				.map-list__subtitle
					p.map-list__subtitle-text Программа Эразмус+ направлена на дальнейшее содействие модернизации и устойчивому развитию систем образования и обучения, поддержку развития молодежной политики и спорта, а также совершенствование навыков и, таким образом, улучшение возможности трудоустройства людей. Новая программа предполагает значительное увеличение инвестиций в развитие человеческого потенциала.
					p.map-list__subtitle-text Под новым названием она объединяет ряд существовавших в 2007-2013 гг. программ в единую интегрированную программу, а именно Программу Образование в Течение Всей Жизни (Эразмус, Леонардо да Винчи, Комениус и Грюндтвиг), Молодежь в действии, пять международных программ сотрудничества (Эразмус Мундус, Темпус, Альфа, Едюлинк и программу сотрудничества с промышленно развитыми странами). Такое объединение в единое целое основных инициатив Европейского Союза способствует рационализации структуры Программы, и в дальнейшем позволит упростить процесс подачи заявок на гранты, повысить эффективность использования финансовых средств, минимизировать дублирование и исключить фрагментацию существующих программ.
	//end content
	include includes/_box3