extend includes/_layout
block title
	title Catalog
block content
	ul(style='padding-top: 30px; padding-left: 30px; list-style: decimal')
		li
			a(href='index.html') index
		li
			a(href='search-results.html') search-results
		li
			a(href='oper.html') oper
		li
			a(href='oper_in.html') oper_in
		li
			a(href='reference.html') reference
		li
			a(href='about.html') about
		li
			a(href='helper_1.html') helper_1
