extend includes/_layout
block navToggle
	- var headToggle = 'Справки'
block title
	title Reference
block content
	//begin content
	.content.content_main.js-content
		.content__search-result 187 документов
		//begin map-list
		.map-list.map-list_reference
			.map-list__item
				a.map-list__icon-load(href='#')
					+i('load')
				.map-list__content
					p.map-list__text-bold Справка по религиозной ситуации в Астане (на основе анализа публикаций на интернет-ресурсах в социальных медиа за период с 23 по 31 октября 2016 г)
					.map-list__date 31. 10. 2016
					.map-list__subtitle
						.map-list__subtitle-text За отчтеный период на интернет-ресурсах и в социальных медиа зафиксировано 84 публикации (см. Дайджест ЦИПР). Основным информационным поводом стало назначение Азильханова М.А. ответственным секретарем Министерства по делам религий и гражданского общества Республики...
			.map-list__item
				a.map-list__icon-load(href='#')
					+i('load')
				.map-list__content
					p.map-list__text-bold Справка по религиозной ситуации в Астане (на основе анализа публикаций на интернет-ресурсах в социальных медиа за период с 18 по 23 октября 2016 г)
					.map-list__date 31. 10. 2016
					.map-list__subtitle
						.map-list__subtitle-text За отчтеный период на интернет-ресурсах и в социальных медиа зафиксировано 84 публикации (см. Дайджест ЦИПР). Основным информационным поводом стало назначение Азильханова М.А. ответственным секретарем Министерства по делам религий и гражданского общества Республики...
			.map-list__item
				a.map-list__icon-load(href='#')
					+i('load')
				.map-list__content
					p.map-list__text-bold Справка по религиозной ситуации в Астане (на основе анализа публикаций на интернет-ресурсах в социальных медиа за период с 5 по 22 октября 2016 г)
					.map-list__date 31. 10. 2016
					.map-list__subtitle
						.map-list__subtitle-text За отчтеный период на интернет-ресурсах и в социальных медиа зафиксировано 84 публикации (см. Дайджест ЦИПР). Основным информационным поводом стало назначение Азильханова М.А. ответственным секретарем Министерства по делам религий и гражданского общества Республики...
			.map-list__item
				a.map-list__icon-load(href='#')
					+i('load')
				.map-list__content
					p.map-list__text-bold Справка по религиозной ситуации в Астане (на основе анализа публикаций на интернет-ресурсах в социальных медиа за период с 1 по 5 октября 2016 г)
					.map-list__date 31. 10. 2016
					.map-list__subtitle
						.map-list__subtitle-text За отчтеный период на интернет-ресурсах и в социальных медиа зафиксировано 84 публикации (см. Дайджест ЦИПР). Основным информационным поводом стало назначение Азильханова М.А. ответственным секретарем Министерства по делам религий и гражданского общества Республики...
			.map-list__item
				a.map-list__icon-load(href='#')
					+i('load')
				.map-list__content
					p.map-list__text-bold Справка по религиозной ситуации в Астане (на основе анализа публикаций на интернет-ресурсах в социальных медиа за период с 1 по 5 октября 2016 г)
					.map-list__date 31. 10. 2016
					.map-list__subtitle
						.map-list__subtitle-text За отчтеный период на интернет-ресурсах и в социальных медиа зафиксировано 84 публикации (см. Дайджест ЦИПР). Основным информационным поводом стало назначение Азильханова М.А. ответственным секретарем Министерства по делам религий и гражданского общества Республики...
		//end map-list
		//begin pagination
		ul.content__pagination.pagination
			li.pagination__item.is-active
				a.pagination__link(href='#') 1
			li.pagination__item
				a.pagination__link(href='#') 2
			li.pagination__item
				a.pagination__link(href='#') ...
			li.pagination__item
				a.pagination__link(href='#') 19
		//end pagination
	//end content
	include includes/_box2